/* Custom styles for navbar */
.navbar {
    background-color: #f8f9fa; /* light gray background */
    border-bottom: 2px solid #ccc; /* subtle border at the bottom */

    position: sticky;
    top: 0;
    z-index: 1030; /* ensures it stays above other content */
    background-color: #e9ecef;
    height: 5rem;
  }
  .navbar-brand i {
    margin-right: 0.5rem; /* Adds space between the icon and the brand text */
  /} 
   .navbar-brand:hover {
    color: #007bff; 
  }
  
  .nav-link {
    color: #333; /* darker color for links */
    margin-right: 1rem;
  }
  
  .nav-link:hover {
    color: #007bff; /* change color on hover */
  }
  
  
  @media (max-width: 768px) {
      .navbar-nav {
        text-align: left; /* Align nav links to the left on small screens */
        width: 100%; /* Ensure the navbar takes full width */
        justify-content: flex-start;
      }
  }
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.nav-link{
    color: #222222;

}
.button-end{
    display: flex;
    justify-content: flex-end;
}
  